@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to INDIA </h1>
                        <h1 class="display-4">Welcome tO Banglore </h1>
                                         <h1 class="display-4">Welcome tO urban forest  </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
