@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ANANYA </h1>
                        <h1 class="display-4">Welcome BABY PIKU </h1>
                                         <h1 class="display-4">HI-----------Welcome to oneworld internation school  </h1>
    <h1 class="display-4">HI-----------W e l c o m e---- to o n e w o r l d   i n t  e r n a t i o n  s c h oo  l  </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
